.card {
  background-color: var(--secondary-color);
  width: 1200px;
  span {
    margin: 0;
  }
  .form-inline {
    display: flex;
    .form-control {
      width: 100%;
      align-self: flex-start;
    }
    .btn-info {
      margin: 0 auto;
    }
  }
  .subs-text {
    width: 500px;
  }
}
