<header
  class="navbar navbar-expand-lg fixed-top bg-white d-flex justify-content-between"
>
  <div class="container">
    <a class="site-logo" [routerLink]="['/']">ART PROJECT</a>

    <div *ngIf="isAuth" class="d-flex justify-content-between">
      <p class="m-0 mr-3">
        <span>{{ user.name }}</span>
        <br />
        <span>{{ user.email }}</span>
      </p>
      <button
        class="btn btn-sm btn-info bg-secondary-theme text-theme-primary"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</header>
