<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h5 class="mb-4">Leave a comment</h5>

    <form [formGroup]="commentForm" (submit)="submit()">
      <div
        class="form-group"
        [ngClass]="{
          invalid:
            commentForm.get('comment')?.touched &&
            commentForm.get('comment')?.invalid
        }"
      >
        <textarea
          formControlName="comment"
          class="form-control shadow-effect"
          [ngClass]="{
            'is-invalid':
              commentForm.get('comment')?.touched &&
              commentForm.get('comment')?.invalid
          }"
          placeholder="Add your comment here"
          cols="30"
          rows="3"
          (focus)="onFocus()"
        ></textarea>

        <div
          *ngIf="
            commentForm.get('comment')?.touched &&
            commentForm.get('comment')?.invalid
          "
        >
          <span *ngIf="commentForm.get('comment')?.errors?.['required']"
            >Enter the comment</span
          >
          <span *ngIf="commentForm.get('comment')?.errors?.['minlength']"
            >Enter at least three characters</span
          >
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-theme">
        {{ idComment ? "Reply" : "Add" }} a comment
      </button>
    </form>
  </div>
</div>
