<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments</h4>

    <div
      *ngFor="let comment of comments; let i = index"
      class="comment-box mt-3"
    >
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger"
        >LAST UPDATE - {{ comment.createdAt | date }}</small
      >

      <p class="mt-3 mb-3">
        {{ comment.comment }}
      </p>

      <button
        class="btn btn-primary mt-1"
        (click)="
          comment.isVisibleReplyCommentForm = !comment.isVisibleReplyCommentForm
        "
      >
        {{ !comment.isVisibleReplyCommentForm ? "Reply" : "Hide" }}
      </button>
      <div *ngIf="comment.isVisibleReplyCommentForm">
        <app-comment-form [idComment]="comment.id"></app-comment-form>
      </div>

      <button
        *ngIf="!comment.isVisibleReplyCommentForm"
        class="btn btn-primary mt-1 ml-3"
        (click)="
          comment.isVisibleReplyComments = !comment.isVisibleReplyComments
        "
        [disabled]="comment.replyComments.length === 0"
      >
        {{
          comment.replyComments.length > 0 && !comment.isVisibleReplyComments
            ? "Show"
            : "Hide"
        }}
        Replies
      </button>

      <div *ngIf="comment.isVisibleReplyComments">
        <div
          *ngFor="let replyComment of comment.replyComments"
          class="comment-box reply-comment-box mt-3"
        >
          <h6 class="mb-0">{{ replyComment.author }}</h6>
          <small class="text-danger"
            >LAST UPDATE: {{ replyComment.createdAt | date }}</small
          >

          <p class="mt-3 mb-3">{{ replyComment.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
