<section class="mt-5 mr-2 ml-2">
  <div class="container mt-5 mb-5 p-1 bg-theme">
    <h1 class="text-white text-center">Terms && Conditions</h1>

    <div class="p-3 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Introduction Welcome to our website. If you continue to browse and use
        this website, you are agreeing to comply with and be bound by the
        following terms and conditions of use, which together with our privacy
        policy govern our relationship with you in relation to this website.
        Copyright All content published on this site, including text, graphics,
        logos, images, audio and video materials, is the property of our site
        and is protected by international copyright laws. Restrictions Users are
        prohibited from: Use the site materials for commercial purposes or for
        any public display. Remove any copyright or other appropriate notices
        from the site materials. Attempt to decompile or reverse engineer the
        software contained on our website. Disclaimer The materials on our site
        are provided “as is”. We make no warranties, express or implied, and
        therefore disclaim and negate all other warranties.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
