.featured-section {
  padding: 0 130px 30px;
  background-color: var(--primary-color);
}
.no-post {
  color: rgb(158, 158, 158);
  font-size: 1.5rem;
}

@media (max-width: 828px) {
  .featured-section {
    padding: 0 50px 30px;
  }
}

@media (max-width: 635px) {
  .featured-section {
    padding: 0 0 30px;
  }
  .one-post {
    padding: 0;
  }
  .row:last-of-type {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
