<section class="mt-5 mr-2 ml-2">
  <div class="container mt-5 mb-5 p-1 bg-theme">
    <h1 class="text-white text-center">Contacts</h1>

    <div class="p-3 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Contact Information Address: 123 Nature Street, City Beautiful, Country
        45678 Phone: +1 (123) 456-7890 Email: info@prekrasniymir.com
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
