<section class="mt-5 mr-2 ml-2">
  <div class="container mt-5 mb-5 p-1 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="p-3 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        We are a team of enthusiasts, passionate about nature and its countless
        riches. Our project “Beautiful World” is dedicated to the discovery and
        understanding of the beauty and harmony that surrounds us every day. We
        believe that nature is a source of inspiration and peace. She reminds us
        of how important it is to take care of our planet and preserve it for
        future generations. Our mission is to help people see and appreciate
        this beauty, and inspire them to take action to protect the environment.
        On our website you will find information about various aspects of nature
        - from amazing animals and plants to breathtaking landscapes and natural
        phenomena. We strive to share knowledge and inspire people to love and
        respect nature. Join us on this journey and discover the beautiful world
        of nature!
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
