<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/1066176/pexels-photo-1066176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="card-img"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Desing</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20, 2024</small
          >

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
            dolorem, obcaecati sapiente, optio, rem necessitatibus iusto
            veritatis itaque quaerat nam minima id eveniet omnis ipsa commodi.
            Sequi sunt facere nihil. Obcaecati nesciunt non iste quae, enim
            totam quibusdam minus, inventore magnam dicta natus culpa nemo fuga
            ipsum. Debitis quos ex, maiores excepturi expedita amet suscipit,
            similique eaque quidem, eligendi consectetur? Itaque, ipsam
            assumenda cupiditate magni cum dolorum molestiae nemo obcaecati
            recusandae ullam provident? Sint, impedit. Voluptatibus non,
            mollitia consequuntur quidem placeat magni, porro ab blanditiis
            temporibus distinctio quam iste et. Unde eum ex eius reiciendis,
            quidem fugit repellat quibusdam quam rem ipsum id ipsam quaerat
            excepturi harum optio nobis autem iusto! Eos, dolorem eius possimus
            odit laboriosam odio a placeat? Aliquam eligendi perspiciatis
            obcaecati, laboriosam totam facere et voluptas. Minus nostrum velit
            aliquam eligendi maiores ab illo architecto nihil debitis ipsam, sit
            repellat reprehenderit dicta dolorem nobis quod. Quaerat, eligendi!
            Odit, vitae illum nobis ipsum non est quasi sapiente delectus
            molestiae eos id unde voluptate earum sunt. Illum veniam provident
            facere itaque iusto ea voluptatum exercitationem, inventore ipsum,
            nisi velit! Quaerat quos iure commodi tempore ipsa quisquam nemo
            officiis harum, vero explicabo vel odio quia libero. Voluptas, unde,
            veritatis temporibus, veniam atque eius tempore tenetur mollitia
            quis fugiat et fugit. Veritatis repellat at cupiditate saepe
            explicabo aperiam omnis, ratione architecto sint aspernatur vel
            harum error non! Natus quaerat laudantium qui corporis saepe
            obcaecati harum, voluptate delectus dignissimos rerum maiores fugit.
            Eligendi consectetur culpa quasi officia earum soluta aliquam.
            Neque, explicabo? Molestias consequatur, mollitia dolorum porro
            minus deserunt quos similique esse culpa quis placeat facilis
            tempora harum sapiente quisquam commodi vel. Voluptate quod iure
            facilis mollitia, consequatur quae qui repellat aut illo suscipit
            dolorem delectus sed temporibus. Ut deleniti quisquam, error
            molestias, dicta, consequatur facere id fugiat itaque architecto ea
            quo!
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
