<div class="card shadow-effect" *ngIf="post">
  <img [src]="post.postImgUrl" [alt]="post.title" class="card-img-top" />
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      post.category.category
    }}</small>
    <small class="bg-light text-success text-center ml-3">{{
      post.isFeatured
    }}</small>
    <small class="bg-light text-info text-center ml-3">{{ post.views }}</small>

    <h5 class="mt-1">{{ post.title }}</h5>
    <p>
      {{ post.excerpt }}
    </p>
    <small class="bg-light text-warning text-center ml-3">{{
      post.createdAt | date
    }}</small>
  </div>
</div>
